@model PagedList.IPagedList<UCHEBNAYAPRAKTIKA.Models.Street>
@using PagedList.Mvc

@{
 ViewBag.Title = "Улицы";
}
<div class="container p-3">
<h2>Улицы</h2>

<p>
    @Html.ActionLink("Добавить новую улицу", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Улица", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Город", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        <p>ул. @Html.DisplayFor(modelItem => item.StreetName)</p>

    </td>

    <td>
        @Html.DisplayFor(modelItem => item.City.CityName)
    </td>
    <td>
        @Html.ActionLink("Редактировать", "Edit", new { id = item.StreetKey }) |
        @Html.ActionLink("Подробнее", "Details", new { id = item.StreetKey }) |
        @Html.ActionLink("Удалить", "Delete", new { id = item.StreetKey })
    </td>
</tr>
}

</table>
<p>Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount</p>
<div class="pagination pagination-success">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
</div>