@model UCHEBNAYAPRAKTIKA.Models.Zakupka

@{
    ViewBag.Title = "Закупка";
}
<script src="~/Scripts/WordScript.js"></script>

<div class="container p-3">
    <div id="docx">
        <h4>Закупка</h4>
        <hr />

        <h5 style="color:#1abc9c" class="col-md-4 text-md-right">Главное о закупке</h5>
        <hr />
        <div class="row">

            <p class="col-md-4 text-black-50 text-md-right">Наименование закупки</p>
            <div class="row col-md-5 offset-md-2">
                @Html.DisplayFor(model => model.WorkTitle)
            </div>
            <p class="col-md-4 text-black-50  text-md-right">Сумма контракта</p>
            <div class="row col-md-5 offset-md-2">
                @Html.DisplayFor(model => model.ContractSum)
            </div>
            <p class="col-md-4 text-black-50  text-md-right">Сумма обеспечения</p>
            <div class="row col-md-5 offset-md-2">
                @Html.DisplayFor(model => model.CashCover)
            </div>
            <p class="col-md-4 text-black-50  text-md-right">Срок сдачи</p>
            <div class="row col-md-5 offset-md-2">
                @Html.DisplayFor(model => model.Deadline)
            </div>
            <p class="col-md-4 text-black-50  text-md-right">Статус</p>
            <div class="row col-md-5 offset-md-2">

                @switch (Model.Status.StatusString.Trim())
                {
                    case "Внесено в базу":<span style="color:#3498db">@Model.Status.StatusString</span> break;
                case "На рассмотрении":<span style="color:#9b59b6">@Model.Status.StatusString</span> break;
            case "Отклонено":<span style="color:#e74c3c">@Model.Status.StatusString</span> break;
        case "Одобрено":<span style="color:#2ecc71">@Model.Status.StatusString</span> break;
    default: <span style="color:#2ecc71">@Model.Status.StatusString</span>; break;
}
            </div>

        </div>
        <hr />
        <h5 style="color:#1abc9c" class="col-md-4 text-md-right">Адрес объекта</h5>
        <hr />
        <div class="row">
            <p class="col-md-4 text-black-50  text-md-right">Регион</p>
            <div class="row col-md-5 offset-md-2">
                @Html.DisplayFor(model => model.Adress.Street.City.Region.RegionName)
            </div>
            <p class="col-md-4 text-black-50  text-md-right">Город</p>
            <div class="row col-md-5 offset-md-2">
                @Html.DisplayFor(model => model.Adress.Street.City.CityName)
            </div>
            <p class="col-md-4 text-black-50  text-md-right">Адрес</p>
            @*<div class="row col-md-5 offset-md-2">
                    ул.@Model.Adress.Street.StreetName, @Model.Adress.House,@Model.Adress.Housing, @Model.Adress.Postcode,
                    офис @Model.Adress.Office
                </div>*@


        </div>

        <hr />
        <h5 style="color:#1abc9c" class="col-md-4 text-md-right">Сведения о заказчике</h5>
        <hr />
        <div class="row">
            <p class="col-md-4 text-black-50  text-md-right">Заказчик</p>
            <div class="row col-md-5 offset-md-2">
                @Html.DisplayFor(model => model.ResponsiblePerson.Client.OrganisationName)
            </div>
            <p class="col-md-4 text-black-50  text-md-right">Ответственное лицо</p>
            <div class="row col-md-5 offset-md-2">
                @Html.DisplayFor(model => model.ResponsiblePerson.LastName) @Html.DisplayFor(model => model.ResponsiblePerson.FirstName) @Html.DisplayFor(model => model.ResponsiblePerson.Patronymic)
            </div>
            <p class="col-md-4 text-black-50  text-md-right">Контакты</p>
            <div class="row col-md-5 offset-md-2">
                Почта: @Html.DisplayFor(model => model.ResponsiblePerson.Email)
                <br> тел: @Html.DisplayFor(model => model.ResponsiblePerson.PhoneNumber)
                <br> Заметки: @Html.DisplayFor(model => model.ResponsiblePerson.AdditionalInfo)
            </div>

        </div>

        <hr />
        <h5 style="color:#1abc9c" class="col-md-4 text-md-right">Аукцион</h5>
        <hr />
        <div class="row">


            <p class="col-md-4 text-black-50  text-md-right">Площадка</p>
            <div class="row col-md-5 offset-md-2">
                <a href="@Model.Auction.Website" style="text-decoration:underline">@Model.Auction.AuctionName</a>
            </div>
            <p class="col-md-4 text-black-50  text-md-right">Часовой пояс</p>
            <div class="row col-md-5 offset-md-2">
                @Html.DisplayFor(model => model.TimeZone.TimeZone1)
            </div>
        </div>

    </div>

    <div class="col-12">
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.ZakupkaKey }, htmlAttributes: new { @class = "btn btn-info" })
        @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-default ml-2" })
        <button onclick="export2Word(window.docx)" class="btn btn-primary float-md-right">вордд</button>
        <button onclick="export2Word(window.docx)">Export</button>
        </div>
    </div>
