@model UCHEBNAYAPRAKTIKA.Models.City

@{
    ViewBag.Title = "Город";
}
<div class="container p-3">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Города</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <p class="control-label col-md-2">Название региона</p>
                <div class="col-md-5">
                    @Html.DropDownList("RegionKey", null, "Выберите регион", htmlAttributes: new { @class = "form-control btn btn-primary dropdown-toggle" })
                    @Html.ValidationMessageFor(model => model.RegionKey, "", new { @class = "text-danger" })
                    <p>Если вы не нашли регион в выпадающем списке, то добавьте его @Html.ActionLink("здесь", "Index", "Regions/Create")</p>
                </div>
            </div>

            <div class="form-group">
                <p class = "control-label col-md-2">Название города</p>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                </div>
            </div>           
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Добавить" class="btn btn-success" />
                    @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }

    <div>
    </div>

</div>