@model UCHEBNAYAPRAKTIKA.Models.Adress

@{
    ViewBag.Title = "Адрес";
}
<div class="container p-3">
    <h2>Подтвердите удаление</h2>

    <h5>Вы уверены, что хотите удалить этот адрес?</h5>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt class="text-black-50">Город        </dt>

            <dd>
                @Html.DisplayFor(model => model.Street.City.CityName)
            </dd>

            <dt class="text-black-50">Улица        </dt>

            <dd>
                ул @Html.DisplayFor(model => model.Street.StreetName), @Html.DisplayFor(model => model.House), 
                <br />Почтовый индекс: @Html.DisplayFor(model => model.Postcode)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" />
                @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>