@model UCHEBNAYAPRAKTIKA.Models.Adress

@{
    ViewBag.Title = "Адрес";
}


<div class="container p-3">
    <div>
        <h4>Адрес</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Улица
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Street.StreetName),  @Html.DisplayFor(model => model.House), корпус @Html.DisplayFor(model => model.Buildung), строение @Html.DisplayFor(model => model.Housing)
            </dd>

            <dt>
                Офис
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Office)
            </dd>

            <dt>
                Почтовый индекс
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Postcode)
            </dd>
            <dt>
Регион            </dt>

            <dd>
                @Html.DisplayFor(model => model.Street.City.CityName),   @Html.DisplayFor(model => model.Street.City.Region.RegionName)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.AdressKey }, htmlAttributes: new { @class = "btn btn-info" })
        @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
    </p>
</div>