@model IEnumerable<UCHEBNAYAPRAKTIKA.Models.Adress>

@{
    ViewBag.Title = "Index";
}
<div class="container p-1">
    <h2>База адресов</h2>

    <p>
        @Html.ActionLink("Добавить новый адрес", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.House)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buildung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Housing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street.StreetName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.House)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buildung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Housing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street.City.CityName)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.AdressKey }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.AdressKey }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.AdressKey })
            </td>
        </tr>
        }

    </table>
</div>