@model UCHEBNAYAPRAKTIKA.Models.Client

@{
    ViewBag.Title = "Заказчик";
}

<div class="container p-3">
    <h3>Подтвердите удаление</h3>

    <h5>Вы уверены, что хотите удалить аукцион?</h5>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>Наименование огранизации</dt>
            <dd>
                @Html.DisplayFor(model => model.OrganisationName)
            </dd>

            <dt>ИНН/КПП</dt>
            <dd>
                @Html.DisplayFor(model => model.INN)/ @Html.DisplayFor(model => model.KPP)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" />
                @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>
