@model UCHEBNAYAPRAKTIKA.Models.Client

@{
    ViewBag.Title = "Заказчик";
}

<div class="container p-3">

    <h2>Редактирование заказчика</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ClientKey)

        <div class="form-group row">
            <p class="control-label">Укажите новое название организации </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrganisationName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrganisationName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label">ИНН/КПП</p>
            <div class="col-md-5">
                <div class="row">
                    <input class="form-control col-md-4 text-box" id="INN" name="INN" type="text" placeholder="123456789012" data-val-required="Укажите инн">
                    <h6 class="ml-3 mr-3"> / </h6>
                    <input class="form-control col-md-4 text-box" id="KPP" name="KPP" type="text" placeholder="123456789012">
                </div>
                @Html.ValidationMessageFor(model => model.INN, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.KPP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
    }
</div>
