<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyRegistry</title>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Content/dist/scripts/flat-ui.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dist/css/flat-ui.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-default navbar-expand-lg" role="navigation">
        @Html.ActionLink("MyRegistry", "Index", "Home", null, htmlAttributes: new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav mr-auto">
                <li>@Html.ActionLink("Закупки", "Index", "Zakupkas")</li>
                <li>@Html.ActionLink("Заказчики", "Index", "Clients")</li>
                <li>@Html.ActionLink("Города", "Index", "Cities")</li>
                <li></li>
                <li class="btn-group">

                    <button class="btn btn-default dropdown-toggle m-2" type="button" data-toggle="dropdown">
                        Подробный справочник
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Адреса</a></li>
                        <li>@Html.ActionLink("Аукционы", "Index", "Auctions")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Города", "Index", "Cities")</li>
                        <li>@Html.ActionLink("Регионы", "Index", "Regions")</li>
                        <li>@Html.ActionLink("Улицы", "Index", "Streets")</li>
                        <li>@Html.ActionLink("Адреса", "Index", "Adresses")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Контакты", "Index", "ResponsiblePersons")</li>
                        <li>@Html.ActionLink("Заказчики", "Index", "Clients")</li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form form-inline" action="#" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Искать..." name="SearchString">
                        <span class="input-group-btn">
                            <button type="submit" class="btn"><span class="fui-search"></span></button>
                        </span>
                    </div>
                </div>
            </form>
        </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->
    <p class="mr-5 text-right">Вы вошли как <a class="navbar-link" href="https://designmodo.github.io/Flat-UI/docs/components.html?#fui-tagsinput">Администратор</a></p>
    @RenderSection("scripts", required: false)

    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Учебная практика</p>
    </footer>
</body>
</html>
